    </main> <!---#main--->

    <footer id="footer"> <!---#footer--->
                <div class="container">
            <div class="footer-content">
                <div class="items">
                    <a href="#" class="logo">¿Quienes somos?</a>  
                    <p> Somos una web de compras y ventas en linea, pensada para fomentar el comercio en la region.</p>
                    <div class="social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-github"></i></a>
                    </div>
                </div>
                <div class="items">
                    <h3>Mision</h3>
                    <p> Fomentar el comercio virtual mediante herramientas web, que contribuya a mejorar la seguridad de las personas.</p>                        
                </div>

                <div class="items">
                    <h3>Vision</h3>
                <ul>
                     <p> Ser un referente nacional que contribuya al desarrollo economico y productivo  .</p>
                </ul>
                </div>
                <div class="items">
                    <h3>¿Tienes problemas?</h3>
                    <ul>
                        <p>Escribenos a:</p>
                        <li><a href="#">floresandres528@gmail.com</a></li>
                        <li><a href="#">Video Tutorials</a></li>
                    </ul>
                </div>

            </div>
            <hr>
            <p class="end">Copyright © 2020 por Market Place. Reservados todos los derechos.</p>
        </div>
    </footer> <!---#footer--->

    <!---Scripts--->
  <script src="https://kit.fontawesome.com/aa9b23ce72.js" crossorigin="anonymous"></script><!---Font Awesome--->
  <script src="/js/bootstrap/jquery-3.5.1.min.js"></script><!---JQuery--->
  <script src="/js/bootstrap/bootstrap.min.js"></script><!---BootStrap JS--->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script> <!---AOS JS--->
  <script>
    AOS.init();
  </script>
</body>
</html>

<style>
  @import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
footer{
    background: #222;
    color: #fff;
    padding: 60px 0;
}
.container{
    width: 100%;
    max-width: 1100px;
    padding: 0 20px;
    margin: 0 auto;
}
li{
    list-style: none;
    line-height: 2;
}
a{
    text-decoration: none;
    color: #ccc;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.items{
    flex-basis: 20%;
}
.items .logo{
    text-transform: capitalize;
    font-size: 1.4em;
    color: #b6b6b6;
}
.items p{
    margin: 1.2em 0;
}
.social{
    display: flex;
}
.social a{
    height: 30px;
    width: 30px;
    background: #383535;
    border-radius: 5px;
    margin:10px 5px;
    text-align: center;
}
.social a i{
    font-size: 1.3em;
    line-height: 30px;
}
.items h3{
    position: relative;
    font-size: 1.3em;
    margin-bottom: 1rem;
    color: aliceblue;
}
.items h3::after{
    content:"";
    position: absolute;
    width: 40px;
    height: 3px;
    background: #fff;
    bottom: -4px;
    left: 0;
}
hr{
    opacity: .3;
}
footer .end{
    text-align: center;
    padding: 20px 0 0 0;
}
@media (max-width:640px){
    .items{
    flex-basis: 80%;
    margin: auto;
}

}
</style>