<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MarketPlace | ¡Encuentra tus productos favoritos!</title>
    <link rel="shortcut icon" href="/img/marketplace-logo.svg" type="image/x-icon" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> <!---AOS CSS--->
    <link rel="stylesheet" href="/css/style.css" /><!---Main CSS--->
</head>
<body>

    <header id="header"><!---#header--->
        <div class="container-fluid bg--mk--light--black">
            <nav class="navbar navbar-expand-lg navbar-dark bg--mk--light--black">

                <h1>
                    <a class="navbar-brand font-weight-bold text-logo" href="/">
                    Market Place
                    </a>
                </h1>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse row" id="navbarSupportedContent">
                    <div class="form-search col-12 col-md-8 col-xl-9">
                        <form action="/product/search" method="GET" class="form-inline my-2 my-lg-0 bg--mk--white rounded-left rounded-right">
                            <label class="text--mk--light--gray" for="term">Buscar:</label>
                            <input class="form-control rounded-0" name="term" id="term" type="search" aria-label="Search">
                            <button class="btn my-2 my-sm-0" type="submit">
                                <span class="fas fa-search"></span>
                            </button>
                        </form>
                    </div>

                    {{#if current_user}}
                        <ul class="navbar-nav col-12 col-md-4 col-xl-3 d-flex justify-content-center">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{current_user.username}}</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/profile">Configuración</a>
                                    <a class="dropdown-item" href="/product">Mis productos</a>
                                    <a class="dropdown-item" href="/profile/purchases">Mis compras</a>
                                    <a class="dropdown-item" href="/logout">Cerrar Sesión</a>
                                </div>
                            </li>
                        </ul>
                    {{else}}
                    <div class="user-panel col-12 col-md-4 col-xl-3 row">
                        <a class="btn bg--mk--primary text--mk--tertiary" href="/login" role="button">Login</a>
                        <a class="btn bg--mk--primary text--mk--tertiary" href="/register" role="button">Register</a>
                    </div>
                    {{/if}}

                </div>
            </nav>
        </div>
        
        <div class="container-fluid bg--mk--quaternary">
            <div class="row">

                <div class="col-9">

                    <nav class="navbar navbar-expand navbar-dark">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-bars"></i> Categorías
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/product/category/Accesorios">Accesorios</a>
                                    <a class="dropdown-item" href="/product/category/Comida">Comida</a>
                                    <a class="dropdown-item" href="/product/category/Ropa">Ropa</a>
                                    <a class="dropdown-item" href="/product/category/Medicina">Medicina</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-sort-amount-down-alt"></i> Ordenar por
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/product/orderby/ASC">Precios ascendentes</a>
                                    <a class="dropdown-item" href="/product/orderby/DESC">Precios descendentes</a>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/product/create">Vender</a>
                                </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#footer">Acerca de</a>
                            </li>
                        </ul>
                    </nav>

                </div>

                <div class="cart-link col-3 d-flex" >
                    <a class="m-auto btn btn-primary" href="/cart"><i class="fas fa-shopping-cart"></i> Carrito</a>
                </div>             
            </div>
            
        </div>
    </header><!---#header--->

    <main id="main"> <!---#main--->