{{> header}}

<div class="container-fluid bg--mk--tertiary">

    <div class="row">
        <div class="container-fluid bg--mk--white col-2">

            <nav class="navbar navbar-light mt-2">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" type="button" data-toggle="collapse" data-target="#profileconfig" aria-expanded="false" aria-controls="profileconfig">Editar Usuario
                        </a>
                        <div class="collapse" id="profileconfig">
                            <ul class="navbar-nav ml-2">
                                <li class="nav-item">
                                    <a class="nav-link" href="/profile">Datos personales</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/profile/billing">Datos facturación</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link dropdown-toggle" type="button" data-toggle="collapse" data-target="#productconfig" aria-expanded="false" aria-controls="productconfig">Productos
                        </a>
                        <div class="collapse" id="productconfig">
                            <ul class="navbar-nav ml-2">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/product">Mis productos<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/product/create">Crear producto</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile/purchases">Mis compras</a>
                    </li>
                </ul>     
            </nav>

        </div>

        <div class="container-fluid col-10 py-5">

            {{#if success}}
                <div class="m-auto alert alert-success alert-dismissible fade show" role="alert">
                    {{success}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {{/if}}
            
            <section class="container d-flex flex-wrap justify-content-between products-container">
                
                {{#if products}}

                    {{#each products}}

                        <div class="card" style="width: 19rem;">
                            <img src="https://via.placeholder.com/250x200?text={{this.product_title}}" class="card-img-top" alt="{{this.product_title}}">
                            <div class="card-body">
                                <h5 class="card-title">{{this.product_title}}</h5>
                                <p class="card-text">{{this.product_description}}</p>
                                <a href="/product/single/{{this.product_id}}" class="btn btn-mk-primary">Ver Item</a>
                                <a href="/product/edit/{{this.product_id}}" class="btn btn-mk-primary">Editar Item</a>
                            </div>
                        </div>

                    {{/each}}
                {{else}}
                <div class="alert alert-primary" role="alert">
                    Usted no ha publicado ningún producto todavía. <a href="/product/create"><b>Crear producto</b></a>
                </div>
                    
                {{/if}}


            </section>

        </div>
    </div>

</div>

{{> footer}}