{{> header}}

    <div class="container-fluid bg--mk--tertiary">

        <div class="row">

            <div class="container-fluid bg--mk--white col-2">

                <nav class="navbar navbar-light mt-2">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link dropdown-toggle" type="button" data-toggle="collapse" data-target="#profileconfig" aria-expanded="false" aria-controls="profileconfig">Editar Usuario
                            </a>
                            <div class="collapse" id="profileconfig">
                                <ul class="navbar-nav ml-2">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/profile">Datos personales</a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/profile/billing">Datos facturación<span class="sr-only">(current)</span></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" type="button" data-toggle="collapse" data-target="#productconfig" aria-expanded="false" aria-controls="productconfig">Productos
                            </a>
                            <div class="collapse" id="productconfig">
                                <ul class="navbar-nav ml-2">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/product">Mis productos</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/product/create">Crear producto</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile/purchases">Mis compras</a>
                        </li>
                    </ul>     
                </nav>

            </div>

            <div class="container-fluid col-10 py-5 text--mk--white px-5">
                
                <section class="container">
                    <h2 class="font-weight-bold">Información de facturación</h2>
                    <form action="/profile/updatebilling" method="POST">

                        <div class="row">
                            <div class="form-group col">
                                <label for="cedula">Cédula:</label>
                                <input type="text" value="{{user_meta.cedula}}" class="form-control" name="cedula" id="cedula" required />
                            </div>

                            <div class="form-group col">
                                <label for="birth_date">Fecha nacimiento:</label>
                                <input type="date" value="{{user_meta.birth_date}}" class="form-control" name="birth_date" id="birth_date" required />
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col">
                                <label for="phone">Celular:</label>
                                <input type="text" value="{{user_meta.phone}}" class="form-control" name="phone" id="phone" required />
                            </div>

                            <div class="form-group col">
                                <label for="province">Provincia:</label>
                                <input type="text" value="{{user_meta.province}}" class="form-control" name="province" id="province" required />
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col">
                                <label for="canton">Cantón:</label>
                                <input type="text" value="{{user_meta.canton}}" class="form-control" name="canton" id="canton" required />
                            </div>

                            <div class="form-group col">
                                <label for="city">Ciudad:</label>
                                <input type="text" value="{{user_meta.city}}" class="form-control" name="city" id="city" required />
                            </div>
                        </div>

                        <div class="form-group">
                                <label for="adress_1">Dirección, línea 1:</label>
                                <input type="text" value="{{user_meta.adress_1}}" class="form-control" name="adress_1" id="adress_1" required />
                        </div>

                        <div class="form-group">
                                <label for="adress_2">Dirección, línea 2:</label>
                                <input type="text" value="{{user_meta.adress_2}}" class="form-control" name="adress_2" id="adress_2" />
                        </div>

                        <h2 class="font-weight-bold">Tarjeta de crédito</h2>

                        <div class="row">
                            <div class="form-group col">
                                <label for="credit_card_owner">Títular:</label>
                                <input type="text" value="{{user_meta.credit_card_owner}}" class="form-control" name="credit_card_owner" id="credit_card_owner" required />
                            </div>

                            <div class="form-group col">
                                <label for="credit_card_number">Tarjeta:</label>
                                <input type="text" value="{{user_meta.credit_card_number}}" class="form-control" name="credit_card_number" id="credit_card_number" required />
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col">
                                <label for="credit_card_expiration_date">Fecha de expiración:</label>
                                <input type="month" min="2021-01" value="{{user_meta.credit_card_expiration_date}}" class="form-control" name="credit_card_expiration_date" id="credit_card_expiration_date" required/>
                            </div>

                            <div class="form-group col">
                                <label for="credit_card_code">Código de seguridad:</label>
                                <input type="number" min="0" value="{{user_meta.credit_card_code}}" class="form-control" name="credit_card_code" id="credit_card_code" required/>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-mk-primary mb-2">Actualizar</button>
                    </form>
                    {{#if message}}
                    <div class="m-auto alert alert-success alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {{/if}}
                </section>

            </div>

        </div>

    </div>

{{> footer}}