{{> header}}

<div class="container-fluid bg--mk--tertiary py-5">

    <div class="container mb-4">
        <h1 class="font-weight-bold text--mk--white display-4">Carrito</h1>
    </div>

    {{#if success}}
    <div class="container mb-4">
        <div class="m-auto alert alert-success alert-dismissible fade show" role="alert">
            {{success}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    {{/if}}

    {{#if error}}
    <div class="container mb-4">
        <div class="m-auto alert alert-danger alert-dismissible fade show" role="alert">
            {{error}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    {{/if}}

     {{#if products}}

        <div class="container">
            <table class="table table-striped table-borderless bg--mk--white rounded">
                <thead class="bg-primary text--mk--white">
                    <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Valor unitario</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Total</th>
                    <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                        <tr>
                            <th scope="row"><a href="/product/single/{{this.product_id}}">{{this.product_title}}</a></th>
                            <td>${{this.product_price}}</td>
                            <td>{{this.amount}}</td>
                            <td>${{this.total}}</td>
                            <td>
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#productid{{this.product_id}}"><i class="fas fa-trash"></i> Eliminar</button>
                            </td>
                        </tr>
                    {{/each}}
                    <tr>
                        <td class="bg--mk--tertiary"></td>
                        <td class="bg--mk--tertiary"></td>
                        <th scope="row">Subtotal:</th>
                        <td>${{subtotal}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="bg--mk--tertiary"></td>
                        <td class="bg--mk--tertiary"></td>
                        <th scope="row">IVA:</th>
                        <td>${{iva}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="bg--mk--tertiary"></td>
                        <td class="bg--mk--tertiary"></td>
                        <th scope="row">Total:</th>
                        <td>${{total}}</td>
                        <td></td>
                    </tr>
                </tbody>
                </table>
        </div>
        

        <div class="container mt-5">
            <form action="/cart/payment" method="POST">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col text--mk--white">

                            <div class="container-fluid p-0">
                                <h2 class="font-weight-bold">Información de facturación</h2>

                                <div class="row">
                                    <div class="form-group col">
                                        <label for="cedula">Cédula:</label>
                                        <input type="text" value="{{user_meta.cedula}}" class="form-control" name="cedula" id="cedula" required />
                                    </div>

                                    <div class="form-group col">
                                        <label for="birth_date">Fecha nacimiento:</label>
                                        <input type="date" value="{{user_meta.birth_date}}" class="form-control" name="birth_date" id="birth_date" required />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col">
                                        <label for="phone">Celular:</label>
                                        <input type="text" value="{{user_meta.phone}}" class="form-control" name="phone" id="phone" required />
                                    </div>

                                    <div class="form-group col">
                                        <label for="province">Provincia:</label>
                                        <input type="text" value="{{user_meta.province}}" class="form-control" name="province" id="province" required />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col">
                                        <label for="canton">Cantón:</label>
                                        <input type="text" value="{{user_meta.canton}}" class="form-control" name="canton" id="canton" required />
                                    </div>

                                    <div class="form-group col">
                                        <label for="city">Ciudad:</label>
                                        <input type="text" value="{{user_meta.city}}" class="form-control" name="city" id="city" required />
                                    </div>
                                </div>

                                <div class="form-group">
                                        <label for="adress_1">Dirección, línea 1:</label>
                                        <input type="text" value="{{user_meta.adress_1}}" class="form-control" name="adress_1" id="adress_1" required />
                                </div>

                                <div class="form-group">
                                        <label for="adress_2">Dirección, línea 2:</label>
                                        <input type="text" value="{{user_meta.adress_2}}" class="form-control" name="adress_2" id="adress_2" />
                                </div>
                            </div>

                            <div class="container-fluid p-0">
                                <h2 class="font-weight-bold">Tarjeta de crédito</h2>

                                <div class="row">
                                    <div class="form-group col">
                                        <label for="credit_card_owner">Títular:</label>
                                        <input type="text" value="{{user_meta.credit_card_owner}}" class="form-control" name="credit_card_owner" id="credit_card_owner" required />
                                    </div>

                                    <div class="form-group col">
                                        <label for="credit_card_number">Tarjeta:</label>
                                        <input type="text" value="{{user_meta.credit_card_number}}" class="form-control" name="credit_card_number" id="credit_card_number" required />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col">
                                        <label for="credit_card_expiration_date">Fecha de expiración:</label>
                                        <input type="month" min="2021-01" value="{{user_meta.credit_card_expiration_date}}" class="form-control" name="credit_card_expiration_date" id="credit_card_expiration_date" required/>
                                    </div>

                                    <div class="form-group col">
                                        <label for="credit_card_code">Código de seguridad:</label>
                                        <input type="number" min="0" value="{{user_meta.credit_card_code}}" class="form-control" name="credit_card_code" id="credit_card_code" required/>
                                    </div>
                                </div>

                            </div>
                            
                        </div>
                        
                        <div class="col">
                            <div class="jumbotron">
                                <h1 class="display-4">Confirmar Pago</h1>
                                <p class="lead"><b class="text-primary">Total: </b>${{total}}</p>
                                <hr class="my-4">
                                <button type="submit" class="btn btn-primary">Confirmar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!--Modals-->
        {{#each products}}
            <div class="modal fade" id="productid{{this.product_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Eliminar {{this.product_title}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ¿Está seguro que desea eliminar este producto del carrito?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

                            <form action="/cart/delete" method="POST">
                                <input readonly class="d-none" value="{{this.product_id}}" name="product_id" type="text"/>
                                <button type="submit" class="btn btn-danger" >Eliminar producto</button>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    {{else}}
        <div class="container">
            <div class="alert alert-primary mt-2" role="alert">
                No ha agredado productos. <a href="/">Ver tienda</a>
            </div>
        </div>
    {{/if}}
    
</div>

{{> footer}}