{{> header}}

<div class="container-fluid bg--mk--tertiary py-5">

   {{#if term}}
        <div class="container">
            <h2 class="font-weight-bold text--mk--white display-4">Buscar: {{term}}</h2>
        </div>
    {{/if}}

    <section class="container d-flex flex-wrap justify-content-between products-container">

        {{#if products}}
             {{#if category}}
                <div class="container-fluid p-0">
                    <h2 class="font-weight-bold text--mk--white display-4">{{category}}</h2>
                </div>
            {{/if}}
                {{#each products}}

                    <div class="card" style="width: 19rem;">
                        <img src="https://via.placeholder.com/250x200?text={{this.product_title}}" class="card-img-top" alt="{{this.product_title}}">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title">{{this.product_title}}</h5>
                                <p class="text-success">Valor: ${{this.product_price}}</p>
                            </div>
                            <p class="card-text">{{this.product_description}}</p>
                            <a href="/product/single/{{this.product_id}}" class="btn btn-mk-primary">Ver Item</a>
                        </div>
                    </div>

                {{/each}}
        {{else}}
        <div class="alert alert-primary mt-2" role="alert">
            No se han encontrado resultado.
        </div>
        {{/if}}
        
    </section>


</div>

{{> footer}}