{{> header}}

<div class="container-fluid bg--mk--tertiary">

    <div class="row">

        <div class="container-fluid bg--mk--white col-2">

            <nav class="navbar navbar-light mt-2">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" type="button" data-toggle="collapse" data-target="#profileconfig" aria-expanded="false" aria-controls="profileconfig">Editar Usuario
                        </a>
                        <div class="collapse" id="profileconfig">
                            <ul class="navbar-nav ml-2">
                                <li class="nav-item">
                                    <a class="nav-link" href="/profile">Datos personales</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/profile/billing">Datos facturación</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link dropdown-toggle" type="button" data-toggle="collapse" data-target="#productconfig" aria-expanded="false" aria-controls="productconfig">Productos
                        </a>
                        <div class="collapse" id="productconfig">
                            <ul class="navbar-nav ml-2">
                                <li class="nav-item">
                                    <a class="nav-link" href="/product">Mis productos</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="/product/create">Crear producto<span class="sr-only">(current)</span></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile/purchases">Mis compras</a>
                    </li>
                </ul>     
            </nav>

        </div>

        <div class="container-fluid col-10 text--mk--white py-5 px-5">

            <section class="container">

                <h2 class="font-weight-bold">Crear Producto</h2>
                <form action="/product/createproduct" method="POST">
                    
                    <div class="row">

                        <div class="form-group col">
                            <label for="product_title">Título:</label>
                            <input type="text" class="form-control" id="product_title" name="product_title" required/>
                        </div>

                        <div class="form-group col">
                            <label for="product_code">Código:</label>
                            <input type="text" class="form-control" name="product_code" id="product_code" required/>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="product_description">Descripción:</label>
                        <textarea class="form-control" id="product_description" name="product_description" rows="4"></textarea>
                    </div>

                    <div class="row">
                        <div class="form-group col">
                            <label for="product_stock">Cantidad:</label>
                            <input type="number" min="1" class="form-control" id="product_stock" name="product_stock"required/>
                        </div>

                        <div class="form-group col">
                            <label for="product_price">Precio:</label>
                            <input type="number" min="0" step="0.01" class="form-control" id="product_price" name="product_price" required/>
                        </div>

                        <div class="form-group col">
                            <label for="product_category">Categoría:</label>
                            <select class="custom-select" id="product_category" name="product_category" required/>
                                <option class="d-none" selected disabled value="">Seleccionar</option>
                                <option value="Ropa">Ropa</option>
                                <option value="Comida">Comida</option>
                                <option value="Medicina">Medicina</option>
                                <option value="Accesorios">Accesorios</option>
                            </select>
                        </div>

                        <div class="form-group col">
                            <label for="product_country">País:</label>
                                <select class="custom-select" id="product_country" name="product_country" required/>
                                    <option class="d-none" selected disabled value="">Seleccionar</option>
                                    <option value="Argentina">Argentina</option>
                                    <option value="Colombia">Colombia</option>
                                    <option value="Chile">Chile</option>
                                    <option value="Ecuador">Ecuador</option>
                                    <option value="Perú">Perú</option>
                                </select>
                            </div>
                    </div>

                    <button type="submit" class="btn btn-mk-primary mb-2">Ingresar Producto</button>

                </form>
                {{#if success}}
                    <div class="m-auto alert alert-success alert-dismissible fade show" role="alert">
                        {{success}} <a href="/product">Ver productos</a>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {{/if}}

                {{#if error}}
                    <div class="m-auto alert alert-danger alert-dismissible fade show" role="alert">
                        {{error}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {{/if}}
            </section>

        </div>

    </div>

</div>
{{> footer}}