{{> header}}
<div class="container-fluid bg--mk--tertiary">

    <div class="row">

        <div class="container-fluid bg--mk--white col-2">

            <nav class="navbar navbar-light mt-2">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" type="button" data-toggle="collapse" data-target="#profileconfig" aria-expanded="false" aria-controls="profileconfig">Editar Usuario
                        </a>
                        <div class="collapse" id="profileconfig">
                            <ul class="navbar-nav ml-2">
                                <li class="nav-item">
                                    <a class="nav-link" href="/profile">Datos personales</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/profile/billing">Datos facturación</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link dropdown-toggle" type="button" data-toggle="collapse" data-target="#productconfig" aria-expanded="false" aria-controls="productconfig">Productos
                        </a>
                        <div class="collapse" id="productconfig">
                            <ul class="navbar-nav ml-2">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/product">Mis productos<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/product/create">Crear producto</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile/purchases">Mis compras</a>
                    </li>
                </ul>     
            </nav>

        </div>

        <div class="container-fluid col-10 py-5">

            <section class="container text--mk--white">
                
                <div class="d-flex justify-content-between">

                    <div class="container-fluid p-0">
                        <h2 class="font-weight-bold">Editar Producto</h2>
                    </div>

                    <div class="container-fluid p-0 d-flex justify-content-end">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteProduct"><i class="fas fa-trash"></i> Eliminar</button>
                    </div>
                    
                </div>
                
                

                <form action="/product/updateproduct" method="POST">
                    
                    <div class="row">

                        <div class="form-group col">
                            <label for="product_title">Título:</label>
                            <input type="text" class="form-control" id="product_title" value="{{product.product_title}}" name="product_title" required/>
                        </div>

                        <div class="form-group col">
                            <label for="product_code">Código:</label>
                            <input type="text" class="form-control" name="product_code" value="{{product.product_code}}" id="product_code" required/>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="product_description">Descripción:</label>
                        <textarea class="form-control" id="product_description" name="product_description" rows="4">{{product.product_description}}</textarea>
                    </div>

                    <div class="row">
                        <div class="form-group col">
                            <label for="product_stock">Cantidad:</label>
                            <input type="number" min="1" class="form-control" id="product_stock" value="{{product.product_stock}}" name="product_stock" required/>
                        </div>

                        <div class="form-group col">
                            <label for="product_price">Precio:</label>
                            <input type="number" min="0" step="0.01" class="form-control" id="product_price" value="{{product.product_price}}" name="product_price" required/>
                        </div>

                        <div class="form-group col">
                            <label for="product_category">Categoría:</label>
                            <select class="custom-select" id="product_category" name="product_category" required/>
                                <option {{#ifEquals product.product_category 'Ropa'}}selected {{/ifEquals}}value="Ropa">Ropa</option>
                                <option {{#ifEquals product.product_category 'Comida'}}selected {{/ifEquals}}value="Comida">Comida</option>
                                <option {{#ifEquals product.product_category 'Medicina'}}selected {{/ifEquals}}value="Medicina">Medicina</option>
                                <option {{#ifEquals product.product_category 'Accesorios'}}selected {{/ifEquals}}value="Accesorios">Accesorios</option>
                            </select>
                        </div>

                        <div class="form-group col">
                            <label for="product_country">País:</label>
                                <select class="custom-select" id="product_country" name="product_country" required/>
                                    <option {{#ifEquals product.product_country 'Argentina'}}selected {{/ifEquals}}value="Argentina">Argentina</option>
                                    <option {{#ifEquals product.product_country 'Colombia'}}selected {{/ifEquals}}value="Colombia">Colombia</option>
                                    <option {{#ifEquals product.product_country 'Chile'}}selected {{/ifEquals}}value="Chile">Chile</option>
                                    <option {{#ifEquals product.product_country 'Ecuador'}}selected {{/ifEquals}}value="Ecuador">Ecuador</option>
                                    <option {{#ifEquals product.product_country 'Perú'}}selected {{/ifEquals}}value="Perú">Perú</option>
                                </select>
                            </div>
                    </div>

                    <input readonly class="d-none" value="{{product.product_id}}" name="product_id" type="text" />

                    <button type="submit" class="btn btn-mk-primary mb-2">Actualizar producto</button>

                </form>

                {{#if success}}
                    <div class="m-auto alert alert-success alert-dismissible fade show" role="alert">
                        {{success}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {{/if}}

                {{#if error}}
                    <div class="m-auto alert alert-danger alert-dismissible fade show" role="alert">
                        {{error}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {{/if}}

            </section>

        </div>

    </div>

</div>

<!--Modal-->
<div class="modal fade" id="confirmDeleteProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar {{product.product_title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Está seguro que desea eliminar este producto?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

        <form action="/product/delete" method="POST">
            <input readonly class="d-none" value="{{product.product_id}}" name="product_id" type="text"/>
            <button type="submit" class="btn btn-danger" >Eliminar producto</button>
        </form>
        
      </div>
    </div>
  </div>
</div>
{{> footer}}