{{> header}}

        <div class="container-fluid bg--mk--tertiary py-5">

            <section class="container d-flex flex-wrap justify-content-between products-container">

                {{#if products}}

                        {{#each products}}

                            <div class="card" style="width: 19rem;">
                                <img src="https://via.placeholder.com/250x200?text={{this.product_title}}" class="card-img-top" alt="{{this.product_title}}">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="card-title">{{this.product_title}}</h5>
                                        <p class="text-success">Valor: ${{this.product_price}}</p>
                                    </div>
                                    <p class="card-text">{{this.product_description}}</p>
                                    <a href="/product/single/{{this.product_id}}" class="btn btn-mk-primary">Ver Item</a>
                                </div>
                            </div>

                        {{/each}}
                {{else}}
                <div class="alert alert-primary mt-2" role="alert">
                    No hay productos todavía.
                </div>
                {{/if}}
                
            </section>

        
        </div>

{{> footer}}