<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | MarketPlace</title>
    <link rel="shortcut icon" href="/img/marketplace-logo.svg" type="image/x-icon" />
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css"/> <!---BootStrap CSS--->
    <link rel="stylesheet" href="/css/style.css"/>  <!---Main CSS--->
    <link rel="stylesheet" href="/css/login-register.css"/> <!--Custom CSS-->
</head>
<body>

    <div class="container-fluid register_login">

        <div class="m-auto py-4">

            <div class="login-title">
                <h1 class="text-center"><a href="/">MarketPlace</a></h1>
            </div>

            {{#if message}}
            <div class="error m-auto alert alert-danger alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{/if}}

            <div class="form-container m-auto p-4 rounded">
                <form action="/auth/login" method="POST">
                    <div class="form-group">
                        <h2 class="text--mk--light--gray">Iniciar Sesión</h2>
                    </div>

                    <div class="form-group">
                        <label for="username_email">Username o email:</label>
                        <input type="text" class="form-control" name="username_email" id="username_email" required>
                    </div>

                    <div class="form-group">
                        <label for="password">Contraseña:</label>
                        <input type="password" class="form-control" name="password" id="password" required>
                    </div>

                    <button id="login_button" type="submit" class="btn btn-mk-primary btn-block">Continuar</button>
                </form>

                <div class="bottom-text mt-4">
                    <p>Al continuar, aceptas las <a href="#"> Condiciones de uso </a> y el <a href="#">Aviso de privacidad</a> de Market PLace.</p>
                    <hr/>
                    <p class="text-center">¿Aún no tienes cuenta? <a href="/register">Regístrate</a></p>
                </div>

            </div>

        </div>
        
    </div>

    <div class="container-fluid links-container border-top border--mk--light--gray p-4">
        <div class="links">
            <a href="#">Condiciones de uso</a> 
            <a href="#">Aviso de privacidad</a> 
            <a href="#">Ayuda</a>
        </div>
    </div>

    <!---Import the scripts.js that are needed--->
    <script src="/js/bootstrap/jquery-3.5.1.min.js"></script>
    <script src="https://kit.fontawesome.com/aa9b23ce72.js" crossorigin="anonymous"></script> <!---Font Awesome--->
    <script src="/js/bootstrap/bootstrap.min.js"></script> <!---BootStrap JS--->

</body>
</html>