{{> header}}

    <div class="container-fluid bg--mk--tertiary">

        <div class="row">

            <div class="container-fluid bg--mk--white col-2">

                <nav class="navbar navbar-light mt-2">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link dropdown-toggle" type="button" data-toggle="collapse" data-target="#profileconfig" aria-expanded="false" aria-controls="profileconfig">Editar Usuario
                            </a>
                            <div class="collapse" id="profileconfig">
                                <ul class="navbar-nav ml-2">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/profile">Datos personales<span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/profile/billing">Datos facturación</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" type="button" data-toggle="collapse" data-target="#productconfig" aria-expanded="false" aria-controls="productconfig">Productos
                            </a>
                            <div class="collapse" id="productconfig">
                                <ul class="navbar-nav ml-2">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/product">Mis productos</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/product/create">Crear producto</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile/purchases">Mis compras</a>
                        </li>
                    </ul>     
                </nav>

            </div>

            <div class="container-fluid col-10 py-5 text--mk--white px-5">
                
                <section class="container">
                    <h2 class="font-weight-bold">Editar Perfil</h2>
                    <form action="/profile/updateprofile" method="POST">

                        <div class="row">
                            <div class="form-group col">
                                <label for="first_name">Nombres:</label>
                                <input type="text" value="{{current_user.user_first_name}}" class="form-control" name="first_name" id="first_name" required>
                            </div>

                            <div class="form-group col">
                                <label for="last_name">Apellidos:</label>
                                <input type="text" value="{{current_user.user_last_name}}" class="form-control" name="last_name" id="last_name" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email">Correo electrónico:</label>
                            <input type="email" value="{{current_user.user_email}}" class="form-control" name="email" id="email" aria-describedby="emailHelp" required>
                        </div>
                        <button type="submit" class="btn btn-mk-primary mb-2">Actualizar</button>
                    </form>
                    {{#if pro_message}}
                    <div class="m-auto alert alert-danger alert-dismissible fade show" role="alert">
                        {{pro_message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {{/if}}
                    {{#if pro_successful}}
                    <div class="m-auto alert alert-success alert-dismissible fade show" role="alert">
                        {{pro_successful}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {{/if}}
                </section>

                <section class="container pt-2">

                    <h2 class="font-weight-bold">Editar Contraseña</h2>
                    <form action="/profile/updatepassword" method="POST">

                        <div class="form-group">
                            <label for="password">Contraseña actual:</label>
                            <input type="password" class="form-control" name="password" id="password" required>
                        </div>

                        <div class="form-group">
                            <label for="new-password">Nueva Contraseña:</label>
                            <input type="password" class="form-control" name="new_password" id="new_password" required>
                        </div>

                        <div class="form-group">
                            <label for="confirm-new-password">Confirmar Nueva Contraseña:</label>
                            <input type="password" class="form-control" name="confirm_new_password" id="confirm_new_password" required>
                        </div>
                        <button type="submit" class="btn btn-mk-primary mb-2">Actualizar</button>
                    </form>
                    {{#if pass_message}}
                    <div class="m-auto alert alert-danger alert-dismissible fade show" role="alert">
                        {{pass_message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {{/if}}
                    {{#if pass_successful}}
                    <div class="m-auto alert alert-success alert-dismissible fade show" role="alert">
                        {{pass_successful}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {{/if}}
                </section>

            </div>

        </div>

    </div>

{{> footer}}