{{> header}}

<div class="container-fluid bg--mk--tertiary">

    <div class="row">

        <div class="container-fluid bg--mk--white col-2">

            <nav class="navbar navbar-light mt-2">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" type="button" data-toggle="collapse" data-target="#profileconfig" aria-expanded="false" aria-controls="profileconfig">Editar Usuario
                        </a>
                        <div class="collapse" id="profileconfig">
                            <ul class="navbar-nav ml-2">
                                <li class="nav-item">
                                    <a class="nav-link" href="/profile">Datos personales<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/profile/billing">Datos facturación</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" type="button" data-toggle="collapse" data-target="#productconfig" aria-expanded="false" aria-controls="productconfig">Productos
                        </a>
                        <div class="collapse" id="productconfig">
                            <ul class="navbar-nav ml-2">
                                <li class="nav-item">
                                    <a class="nav-link" href="/product">Mis productos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/product/create">Crear producto</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/profile/purchases">Mis compras</a>
                    </li>
                </ul>     
            </nav>

        </div>

        <div class="container-fluid col-10 py-5">

            <section class="container d-flex flex-wrap justify-content-between">
                {{#if products}}
                    {{#each products}}
                        <div class="card mb-2" style="width: 490px;">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="https://via.placeholder.com/190x200?text={{this.product_title}}"/>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body ml-2">
                                        <h5 class="card-title"><a href="/product/single/{{this.product_id}}">{{this.product_title}}</a></h5>
                                        <p class="card-text">{{this.product_description}}</p>
                                        <p class="card-text"><small class="text-muted">Cantidad: {{this.amount}}</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                {{else}}
                <div class="alert alert-primary" role="alert">
                    Usted no ha realizado ninguna compra. <a href="/"><b>Tienda</b></a>
                </div>
                {{/if}}
            </section>

        </div>

    </div>

</div>

{{> footer}}