{{> header}}
<div class="container-fluid bg--mk--tertiary">

    <div class="container">

        <section class="container-fluid py-5">
            
            <div class="row">
            
                <div class="col-4 align-self-center">
                    <div class="container-fluid d-flex justify-content-center">
                        <img class="rounded" src="https://via.placeholder.com/300x300?text={{product.product_title}}" alt=""> 
                    </div>
                </div>

                <div class="col-8  align-self-center">

                    <div class="container-fluid bg--mk--white py-3 rounded">

                        <section class="container-fluid">
                            <h1 class="text--mk--secondary display-4">{{product.product_title}}</h1>
                        </section>

                        <section class="container-fluid">
                            <p>{{product.product_description}}</p>

                            <p><b class="text--mk--secondary">Categoría: </b><a class="text--mk--black" href="/product/category/{{product.product_category}}">{{product.product_category}}</a> <b class="ml-2 text-success">Stock:</b> {{product.product_stock}}</p>
                            
                            <hr class="my-4">
                        </section>
                        
                        <section class="container-fluid row">
                            
                            <div class="col">
                                <p><b>Vendedor:</b> {{owner.username}}</p>
                                <p><b>E-mail:</b> {{owner.user_email}}</p>
                            </div>

                            <div class="col">
                                <p><b>País: </b>{{product.product_country}}</p>
                                <p><b>Precio: </b>${{product.product_price}}</p>
                            </div>
                        
                        </section>

                        <section class="container-fluid">
                            {{#if isInCart}}
                            <div class="alert alert-primary" role="alert">
                                Este producto ya ha sido añadido.<a href="/cart"> Ver Carrito</a>
                            </div>
                            {{else}}
                            <form class="form-inline mb-2" action="/cart/add" method="POST">
                                <label for="amount">Cantidad: </label>
                                <input class="form-control mx-2" type="number" min="1" max="{{product.product_stock}}" value="1" name="amount" id="amount">
                                <input class="d-none" name="product_id" type="text" value="{{product.product_id}}">
                                <button type="submit" class="btn btn-primary"><i class="fas fa-shopping-cart"></i> Añadir</button>
                            </form>
                            {{/if}}
                            
                            {{#if success}}
                            <div class="m-auto alert alert-success alert-dismissible fade show" role="alert">
                                {{success}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {{/if}}

                        {{#if error}}
                            <div class="m-auto alert alert-danger alert-dismissible fade show" role="alert">
                                {{error}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {{/if}}

                        </section>
                    
                    </div>
                   
                </div>

            </div>

        </section>

        <section class="container-fluid pb-4">

            <section class="container-fluid">
                <h2 class="text--mk--white">Productos Similares</h2>
            </section>

            <section class="container d-flex flex-wrap justify-content-between products-container">

                {{#if products_related}}

                        {{#each products_related}}

                            <div class="card" style="width: 19rem;">
                                <img src="https://via.placeholder.com/250x200?text={{this.product_title}}" class="card-img-top" alt="{{this.product_title}}">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="card-title">{{this.product_title}}</h5>
                                        <p class="text-success">Valor: ${{this.product_price}}</p>
                                    </div>
                                    <p class="card-text">{{this.product_description}}</p>
                                    <a href="/product/single/{{this.product_id}}" class="btn btn-mk-primary">Ver Item</a>
                                </div>
                            </div>

                        {{/each}}
                {{else}}
                <div class="alert alert-primary mt-2" role="alert">
                    No hay productos relacionados.
                </div>
                    
                {{/if}}

            </section>

        </section>

    
    </div>

</div>
{{> footer}}