/*
 *Estilos del producto
 */
 .product .product-content
 {
   width: 80%;
   margin: auto;
   height: auto;
   position: relative;
   border-radius: 20px;
   margin-bottom: 50px;

   display: flex;
   flex-flow: row;
   align-items: center;
 }
 .product .product-content .product-img
 {
   border-width: 2px !important;
 }
 .product-title h2
 {
   font-size: 2.25rem;
 }
 .product-description p
 {
   font-size: 1.25rem;
 }
 .product-meta
 {
   display: grid;
   grid-template-columns: 1.5fr 1fr;
 }
 .product-meta p
 {
   font-size: 1.25rem;
 }
 .product-options
 {
   display: flex;
   flex-direction: column;
   position: absolute;
   right: -30px;
   top: 8%;
 }
 .product-options span
 {
   border-radius: 10px;
   font-size: 3rem;
   margin-bottom: .3em;   
   border-width: 2px !important;
   text-align: center;

   transition: all 200ms;
 }
 .product-options span:hover
 {
   color: var(--mk--light--gray--color) !important;
   cursor: pointer;
 }

/*
 *Total y confirmar
 */
 .total
 {
   width: 300px;
   text-align: center;
   border-radius: 10px;
 }
 .total p
 {
   font-size: 2rem;
 }
 .purchase
 {
   font-size: 2rem;
   border-radius: 10px !important;
 }
 .purchase:hover
 {
   background-color: #fde29c !important;
 }
 /*
 *Add
 */
 .add-container
 {
    width: 80%;
 }
 .add
 {
   width: 100%;
   text-align: center;
   border-radius: 10px;
   font-size: 2rem;
 }
 /*
  *Productos relacionados
  */
  .product-related-container
  {
    width: 80%;
    margin-top: 20px !important;
    border-radius: 20px;
  }
  .products
  {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  }
  .product-related
  {
    border: 1px solid var(--mk--light--gray--color);
    position: relative;
  }
  .product-related img
  {
    width: 100%;
  }
  .product-related a.btn
  {
    position: absolute;
    font-weight: bold;
    padding: .5em 2em;
    bottom: 0;
    right: 0;
    border: 1px solid var(--mk--light--gray--color);
  }
  