/*
 *Establecer los colores que se usarán en el proyecto
 */
 :root
 {
   --mk--primary--color: #F5D587;
   --mk--secondary--color: #1F9AD9;
   --mk--tertiary--color: #2C425E;
   --mk--quaternary--color: #232F3E;
    
   --mk--light--black--color: #131921;
   --mk--light--gray--color: #707070;
   --mk--white--color: #fff;
   --mk--black--color: #000;

   --mk--navbar--height: 100px;
 }

 /*Color Text*/
 .text--mk--primary
 {
    color:  var(--mk--primary--color) !important;
 }
 .text--mk--secondary
 {
    color:  var(--mk--secondary--color) !important;
 }
 .text--mk--tertiary
 {
    color: var(--mk--tertiary--color) !important;
 }
 .text--mk--quaternary
 {
    color: var(--mk--quaternary--color) !important;
 }
 .text--mk--light--black
 {
    color: var(--mk--light--black--color) !important;
 }
 .text--mk--light--gray
 {
    color: var(--mk--light--gray--color) !important;
 }
 .text--mk--white
 {
    color: var(--mk--white--color) !important;
 }
 .text--mk--black
 {
    color:var(--mk--black--color) !important;
 }


 /*Border Color*/
 .border--mk--primary
 {
    border-color: var(--mk--primary--color) !important;
 }
 .border--mk--secondary
 {
    border-color: var(--mk--secondary--color) !important;
 }
 .border--mk--tertiary
 {
    border-color: var(--mk--tertiary--color) !important;
 }
 .border--mk--quaternary
 {
    border-color: var(--mk--quaternary--color) !important;
 }
 .border--mk--light--black
 {
    border-color: var(--mk--light--black--color) !important;
 }
 .border--mk--light--gray
 {
    border-color: var(--mk--light--gray--color) !important;
 }
 .border--mk--white
 {
    border-color: var(--mk--white--color) !important;
 }
 .border--mk--black
 {
    border-color: var(--mk--black--color)!important;
 }


 /*Background Color*/
 .bg--mk--primary
 {
    background-color: var(--mk--primary--color) !important;
 }
 .bg--mk--secondary
 {
    background-color: var(--mk--secondary--color) !important;
 }
 .bg--mk--tertiary
 {
    background-color: var(--mk--tertiary--color) !important;
 }
 .bg--mk--quaternary
 {
    background-color: var(--mk--quaternary--color) !important;
 }
 .bg--mk--light--black
 {
    background-color: var(--mk--light--black--color) !important;
 }
 .bg--mk--light--gray
 {
    background-color: var(--mk--light--gray--color) !important;
 }
 .bg--mk--white
 {
    background-color: var(--mk--white--color) !important;
 }
 .bg--mk--black
 {
    background-color: var(--mk--black--color)!important;
 }

 /*Buttons*/
 .btn-mk-primary
 {
   background-color: #F5D587;
 }

 .btn-mk-primary:focus
 {
   border: 1px solid #fcc845;
   box-shadow: 0 0 .5rem #fcc845;
 }

/*
 * Custom Form CSS
 */
 .form-container
 {
   width: 500px;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 }

 .error
 {
   width: 500px;
   margin-bottom: 1em !important;
 }

 @media (max-width: 600px)
 {
   .form-container
   {
      width: 90%;
   }
 }

 .form-group input[type="text"].form-control:focus,.form-group input[type="email"].form-control:focus,.form-group input[type="password"].form-control:focus,.form-group input[type="number"].form-control:focus,.form-group select.custom-select:focus,form-control:focus,.form-group textarea.form-control:focus
 {
   border-color: #fcc845;
   box-shadow: 0 0 0 .2rem rgba(252, 200, 69, 0.644) ;
 }


/*
 *CSS Header
 */
 .text-logo
 {
   font-size: 2.5rem;
   transition: all 0.2s linear;
 }

 /*Buscar*/

 .form-search form
 { 
   display: grid;
   grid-template-columns: 12% 80% 8%;
 }

 @media (max-width: 768px)
 {
   .form-search form
   {
      grid-template-columns: 20% 70% 10%;
   }
 }

 .form-div form input#search, .form-div form button.btn
 {
   box-shadow: none;
 }

 .form-div form input#search
 {
   border-top: none;
   border-bottom: none;
 }

 .form-div form input#search:focus
 {
   border-color: #ced4da;
   box-shadow: inset 0px 0px 5px #ffc229;
 }

 /*Login and Register*/

 .user-panel
 {
   display: flex;
   flex-flow: wrap row;
   gap: 1em;
   justify-content: center;
 }

 .user-panel a
 {
   width: 80px;
   transition: all 0.3 linear;
 }

 .user-panel a:focus,.user-panel a:hover
 {
   background: #F5D587;
   background: linear-gradient(180deg, #F5D587 0%, #f5cc65 100%);
 }

 /*Second menu*/
 .cart-link a
 {
   font-size: 1rem;
 }

 /*Footer*/
.links
{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 2em;
}

div.container-fluid.bg--mk--tertiary > div.row, div.container-fluid.bg--mk--tertiary.py-5
{
   min-height: 80vh;
}